body{
    background-color: cornflowerblue;
    color: black;
    justify-content: center;
    justify-items: center;
    margin: 20vh;
}

.container{
    background-color: rgb(36, 36, 196);
    color: white;
    padding: 18px;
    border-radius: 4px;
}

.field-container{
    background-color: antiquewhite;
    color: black;
    margin:4px;
    padding:3px;
    border-radius: 3px;
}

button:hover{
    background-color: rgb(103, 232, 89);
    transition: background-color 0.3s ;
    justify-content: center;
    opacity: 0.5;
}